[Unit]
Description=This Unit is needed to automatically start the SLURM sidecar at system startup
After=network.target

[Service]
Type=simple
ExecStart=$HOME/.interlink/bin/slurm-plugin
Environment="INTERLINKCONFIGPATH=$HOME/.interlink/config/InterLinkConfig.yaml"
Environment="SHARED_FS=true"
StandardOutput=file:$HOME/.interlink/logs/plugin.out
StandardError=file:$HOME/.interlink/logs/plugin.err

[Install]
WantedBy=multi-user.target
