[Unit]
Description=This Unit is needed to automatically start the Interlink API at system startup
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/interlink/bin
ExecStart=/etc/interlink/bin/interlink
EnvironmentFile=/etc/interlink/.envs

[Install]
WantedBy=multi-user.target