[Unit]
Description=This Unit is needed to automatically start the Oauth2 proxy at system startup
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/interlink/bin
ExecStart=/etc/interlink/bin/oauth2-proxy
EnvironmentFile=/etc/interlink/.envs_oauth

[Install]
WantedBy=multi-user.target