[Unit]
Description=This Unit is needed to automatically start the SLURM sidecar at system startup
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/interlink/bin
ExecStart=/etc/interlink/bin/slurm-sd
EnvironmentFile=/etc/interlink/.envs

[Install]
WantedBy=multi-user.target